<div class="container">
    <h3>My Work</h3>
    <div class="carousel">
        <img src="./assets/image-slide-1.jpg" alt="img1">
        <img src="./assets/image-slide-2.jpg" alt="img2">
        <img src="./assets/image-slide-3.jpg" alt="img3">
        <img src="./assets/image-slide-4.jpg" alt="img4">
        <img src="./assets/image-slide-5.jpg" alt="img5">
    </div>
    <div class="buttons">
        <button type="button" class="left-control">
            <img src="./assets/icon-arrow-left.svg" alt="icon-arrow-left">
        </button>
        <button type="button" class="right-control">
            <img src="./assets/icon-arrow-right.svg" alt="icon-arrow-right">
        </button>
    </div>
    
</div>