<div class="container">
    <h3>My Work</h3>
    <div class="carousel-frame">
        <div class="carousel">
            <div class="slide">
                <div>
                    <img src="./assets/image-slide-1.jpg" alt="img1">
                </div>
            </div>
            <div class="slide">
                <div>
                    <img src="./assets/image-slide-2.jpg" alt="img2">
                </div>
            </div>
            <div class="slide">
                <div>
                    <img src="./assets/image-slide-3.jpg" alt="img3">
                </div>
            </div>
            <div class="slide">
                <div>
                    <img src="./assets/image-slide-4.jpg" alt="img4">
                </div>
            </div>
            <div class="slide">
                <div>
                    <img src="./assets/image-slide-5.jpg" alt="img5">
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button type="button" class="left-control" appPrev>
            <img src="./assets/icon-arrow-left.svg" alt="icon-arrow-left">
        </button>
        <button type="button" class="right-control" appNext>
            <img src="./assets/icon-arrow-right.svg" alt="icon-arrow-right">
        </button>
    </div>
    
</div>