<div class="container">
    <div class="left">
        <img src="./assets/image-amy.webp" alt="profile-picture" width="445px" height="445px">
    </div>
    <div class="right">
        <h2>I'm Amy, and I'd love to work on your next project</h2>
        <p>I love working with others to create beautiful design solutions. I've designed everything from brand illustrations to complete mobile apps. I'm also handy with a camera!</p>
        <button type="button">Free Consulation</button>
    </div>
</div>>
