/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
}

h1{
    font-size: 56px;
}

h2 {
    font-size: 40px;
}

h3{
    font-size: 32px;
}