<div class="container">
    <div class="left">
        <div class="graphic-design">
            <img src="./assets/pattern-graphic-design.svg" alt="graphic-design-pattern" id="img">
            <p id="text">Graphic Design</p>
        </div>
    </div>
    <div class="right">
        <div class="ui-ux">
            <img src="./assets/pattern-ui-ux.svg" alt="ui-ux-pattern" id="img">
            <p id="text">UI/UX</p>
        </div>
        <div class="apps">
            <img src="./assets/pattern-apps.svg" alt="apps-pattern" id="img">
            <p id="text">Apps</p>
        </div>
        <div class="photography">
            <img src="./assets/pattern-photography.svg" alt="photography-pattern" id="img">
            <p id="text">Photography</p>
        </div>
        <div class="illustrations">
            <img src="./assets/pattern-illustrations.svg" alt="illustrations-pattern" id="img">
            <p id="text">Illustrations</p>
        </div>
        <div class="motion-graphics">
            <img src="./assets/pattern-motion-graphics.svg" alt="motion-graphics-pattern" id="img">
            <p id="text">Motion Graphics</p>
        </div>
    </div>
</div>
